<input type="text" [ngModel]="formattedInputs" class="form-control-sm form-control text-right" readonly>

<input type="text" [ngModel]="input" class="form-control form-control-lg text-right" readonly>

<div class="row mt-3">
	<div class="col-3">
		<button class="btn btn-secondary btn-block" (click)="reset()">AC</button>
	</div>
	<div class="col-3">
    <button class="btn btn-primary btn-block" (click)="executeOperator('(')">(</button>
  </div>
	<div class="col-3">
    <button class="btn btn-primary btn-block" (click)="executeOperator(')')">)</button>
  </div>
	<div class="col-3">
		<button class="btn btn-primary btn-block" (click)="executeOperator('/')">/</button>
	</div>
</div>
<div class="row mt-3">
	<div class="col-3">
		<button class="btn btn-secondary btn-block" (click)="insertInput('1')">1</button>
	</div>
	<div class="col-3">
		<button class="btn btn-secondary btn-block" (click)="insertInput('2')">2</button>
	</div>
	<div class="col-3">
		<button class="btn btn-secondary btn-block" (click)="insertInput('3')">3</button>
	</div>
	<div class="col-3">
		<button class="btn btn-primary btn-block" (click)="executeOperator('*')">x</button>
	</div>
</div>
<div class="row mt-3">
	<div class="col-3">
		<button class="btn btn-secondary btn-block" (click)="insertInput('4')">4</button>
	</div>
	<div class="col-3">
		<button class="btn btn-secondary btn-block" (click)="insertInput('5')">5</button>
	</div>
	<div class="col-3">
		<button class="btn btn-secondary btn-block" (click)="insertInput('6')">6</button>
	</div>
	<div class="col-3">
		<button class="btn btn-primary btn-block" (click)="executeOperator('+')">+</button>
	</div>
</div>
<div class="row mt-3">
	<div class="col-3">
		<button class="btn btn-secondary btn-block" (click)="insertInput('7')">7</button>
	</div>
	<div class="col-3">
		<button class="btn btn-secondary btn-block" (click)="insertInput('8')">8</button>
	</div>
	<div class="col-3">
		<button class="btn btn-secondary btn-block" (click)="insertInput('9')">9</button>
	</div>
	<div class="col-3">
		<button class="btn btn-primary btn-block" (click)="executeOperator('-')">-</button>
	</div>
</div>
<div class="row mt-3">
	<div class="col-6">
		<button class="btn btn-secondary btn-block" (click)="insertInput('0')">0</button>
	</div>
	<div class="col-3">
		<button class="btn btn-secondary btn-block" (click)="insertInput('.')">,</button>
	</div>   
	<div class="col-3">
		<button autofocus class="btn btn-primary btn-block" (click)="evaluateInputs()">=</button>
	</div>
</div>
<div class="row mt-3">
    <div class="col-6">
		<button class="btn btn-secondary btn-block" (click)="toogleInput()">Toogle</button>
	</div>
	<div class="col-3">
		<button class="btn btn-primary btn-block" (click)="delete()" title="delete" >Del</button>
	</div>
	<div class="col-3">
		<button class="btn btn-primary btn-block" (click)="undo()" title="Undo" ><<</button>
	</div>
</div>