::selection {
  color: white;
  background: #f44336; /* WebKit/Blink Browsers */
}
::-moz-selection {
  color: white;
  background: #f44336; /* Gecko Browsers */
}

.ip-header .ip-loader svg path.ip-loader-circle{
  stroke: #f44336;
}

.color-overlay {

}

a:hover {
    color: #f44336;
}

a:active {
    color: #f44336;
}

a:focus{
  color: #f44336;
}


.sticky-navigation{

    /*border-bottom: solid 1px #f44336;*/
}

.sticky-navigation .main-navigation .current a{
    color: #f44336;
}

.sticky-navigation .main-navigation li a:hover{
  color: #f44336;
  background: none;
}

.sticky-navigation .main-navigation li a:active{
  color: #f44336;
  background: none;
}

.sticky-navigation .main-navigation li a:focus{
  color: #f44336;
  background: none;
}

.navbar-toggle .icon-bar{
  background-color: #f44336;
}


.services .single-service .icon-container .icon{

    color: #f44336;
}

.featured-item .icon i{
    color: #f44336;
}



.work-process .itemz .inner-content > i{
  background-color: #f44336;
}

.hvr-ripple-out:before{
    border: #f44336 solid 1px;
}

.progress .bar {
    background: #f44336;
}

 .pf-filter li.active{
  color: #f44336;
}

.portfolio-hover{
    background-color: rgba(255, 255, 255, .9);
}


.masonry-grid-4 .portfolio-hover{
    background-color: rgba(255, 255, 255, .8);
}
.portfolio-project-info li a:hover {
    color: #f44336;
}

.testimonials .owl-theme .owl-controls .owl-page span {
    background: #f44336;
    border-radius: 20%;
    max-height: 2px;
}

.clients .owl-theme .owl-controls .owl-page span {
    background: #f44336;
    border-radius: 20%;
    max-height: 2px;
}

.team-hover {
    border: 2px solid #FFFFFF;
    background-color: rgba(255, 255, 255, .7);
}

.team-hover .s-link a {
    text-align: center;
    color: #f44336;
}

.desk p {
    color: #f44336;
}

.team .owl-theme .owl-controls .owl-page span {
    background: #f44336;
}

.special-package{
  color: #f44336;
}

.special-package .price h2,
.special-package .price h2 span,
.special-package .price p
{
  color: #f44336;
}

.special-package .hvr-bounce-to-right:before{
  background: #f44336;
}

.special-package .single-package{
  border: 1px solid #f44336;
}

.special-package .btn-price{
  color: #f44336;
  border-color: #f44336;
}

.special-package .btn-price:hover{
  color: #fff;
}


.btn-lines .line-top,
.btn-lines .line-bottom,
.btn-lines .line-left,
.btn-lines .line-right {
  background: #f44336;
}

.funfactor .icon-container i {
    color: #f44336;
}

.blog-title :hover{
    color: #f44336;
}

.blog-post-title :hover {
    color: #f44336;
}

.author a :hover {
  color: #f44336;

 }

 .read-more :hover{
    color: #f44336;
 }

.blog-list-item-detail a:hover{
  color: #f44336;
}

.blog-item-detail a:hover{
  color: #f44336;
}

.input-field:active{
  border: 1px solid  #f44336;
  border-radius: 5px;
}

.input-field:focus {
  border-color: #f44336;
}

.clearlist li a:hover  {
    color: #f44336;
}

.tags a:hover {
   color: #f44336;
  border: 1px solid #f44336;
}

.article-nav a i:hover{
  color: #f44336;
}

/**/

.standard-button {
    background: #B58C82;
}

.standard-button2 {
    background:  #f44336;
}

.standard-button2:hover {
    background: #fff;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background: #005885;
    border-color: inherit;
}

.colored-line,
.colored-line-left {
    background:  #f44336;
}

.main-color {
    color:  #f44336;
}

.theme-color {
    color:  #f44336;
}

.theme-color-bg {
    background-color:  #f44336;
}

.color-bg {
	background: rgb(127,111,91);
	color: #FFFFFF;
}

.contact .contact-button {
    border: 2px solid #656565;
    color: #958257;
}

.contact .contact-button:hover {
    background:  #f44336;
}

.contact .contact-box .input-box:active,
.contact .contact-box .textarea-box:active,
.contact .contact-box .input-box:focus,
.contact .contact-box .textarea-box:focus {
    border: 1px solid  #f44336;
    color: #111;
}

.social-icons li a:hover {
    color:  #f44336;
}

.comment-reply .contact-box .input-box:active,
.comment-reply .contact-box .textarea-box:active,
.comment-reply .contact-box .input-box:focus,
.comment-reply .contact-box .textarea-box:focus {
    border: 1px solid  #f44336;
    color: #111;
}

.contact  .contact-address i{
  color: #f44336;
}

.nav-transparent{
  border-bottom: solid 1px transparent;
}

.list-tweets li a:hover{
  color: #f44336;
}

.item:hover div.project-name{
  background: #f44336;
  }

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover,
.side .widget ul.link li a:hover,
.side .widget ul.link li a:focus,
.check-list li:before,
ul.cart-list > li > h6 > a,
.attr-nav > ul > li > a:hover,
.attr-nav > ul > li > a:focus,
nav.navbar-sidebar ul.nav li.dropdown.on > a,
nav.navbar-sidebar .dropdown .megamenu-content .col-menu.on .title,
nav.navbar-sidebar ul.nav li.dropdown ul.dropdown-menu li a:hover,
nav.navbar ul.nav li.dropdown.on > a,
nav.navbar.navbar-inverse ul.nav li.dropdown.on > a,
nav.navbar-sidebar ul.nav li.dropdown.on ul.dropdown-menu li.dropdown.on > a,
nav.navbar .dropdown .megamenu-content .col-menu.on .title,
nav.navbar ul.nav > li > a:hover,
nav.navbar ul.nav li.active > a,
nav.navbar li.dropdown ul.dropdown-menu > li a:hover{
    color: #f44336;
    background: rgba(0, 0, 0, 0.07);
}

nav.navbar.navbar-transparent ul.nav > li > a:hover,
nav.navbar.no-background ul.nav > li > a:hover,
nav.navbar ul.nav li.scroll.active > a,
nav.navbar.navbar-dark ul.nav li.dropdown ul.dropdown-menu  > li > a:hover,
nav.navbar ul.nav li.dropdown.on > a,
nav.navbar-dark ul.nav li.dropdown.on > a{
    color: #f44336!important;
    background: rgba(0, 0, 0, 0.07);
}

@media(max-width:920px){
    nav.navbar .dropdown .megamenu-content .col-menu ul > li > a:hover,
    nav.navbar.navbar-dark .dropdown .megamenu-content .col-menu .title:hover{
        color: #f44336!important;
        background: rgba(0, 0, 0, 0.07);
    }
}
