<!-- =========================
 HEADER
 ============================== -->
<header class="header main-header" id="home">
  <!-- HEADER COLOR OVER IMAGE -->
  <!--  NAVIGATION -->
  <nav class="navbar navbar-default navbar-fixed white no-background bootsnav">
    <div class="container">
      <!-- Start Header Navigation -->
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle"
          data-toggle="collapse"
          data-target="#navbar-menu"
        >
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#"
          ><img src="assets/images/logo.png" class="logo" alt=""
        /></a>
        <p class="header-logo">Simaira Digital</p>
      </div>
      <!-- End Header Navigation -->
      <!-- Collect the nav links, forms, and other content for toggling -->

      <!-- /.navbar-collapse -->
    </div>
  </nav>
</header>

<section
  class="slider-section parallax-bg"
  data-parallax="scroll"
  data-image-src="assets/images/bg-3.jpg"
>
  <div class="header-text-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="header-text">
            <h2 class="mask">welcome to Simaira Digital</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- /END HEADER -->

<!-- =========================
 ABOUT US
 ============================== -->
<section class="section-top studio-features-section relative" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="section-subtitle">
          We are Simaira Digital. Delhi based agency that works with end to end
          digital marketing services. We are specialized in social media promotion &
          advertisig, websites & mobile app development, content marketing &
          search engine optimisation. Our work can make your Products & Brand
          look Professional, Elegant and Quality.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="jv-st-srv align-vertical">
        <!--  Service 1 -->
        <div class="col-md-4 col-xs-9">
          <div class="service-container fadeLeft">
            <div class="mask-container parallaxes bg-2">
              <i class="icon-circle-compass white x3 text-center"></i>
              <h4>Social Media Marketing</h4>
            </div>
            <div class="service-body">
              <!-- <p>
                Branding is one of the most important aspects of any business,
                large or small.
              </p>-->
            </div>
          </div>
        </div>

        <!-- Service 2  -->
        <div class="col-md-4 col-xs-9">
          <div class="service-container fadeLeft">
            <div class="mask-container parallaxes bg-2">
              <i class="icon-lightbulb white x3 text-center"></i>
              <h4>Website & Mobile App</h4>
            </div>
            <div class="service-body">
              <!--<p>
                An effective brand strategy gives you a major edge in
                competitive markets.
              </p>-->
            </div>
          </div>
        </div>

        <!-- Service 3-->
        <div class="col-md-4 col-xs-9">
          <div class="service-container fadeLeft">
            <div class="mask-container parallaxes bg-2">
              <i class="icon-document white x3 text-center"></i><br />
              <h4>Content Marketing</h4>
            </div>
            <div class="service-body">
              <!-- <p>
                Branding is one of the most important aspects of any business,
                large or small.
              </p> -->
            </div>
          </div>
        </div>
      </div>

      <div class="jv-st-srv align-vertical">
        <!--  Service 1 -->
        <div class="col-md-4 col-xs-9">
          <div class="service-container fadeLeft">
            <div class="mask-container parallaxes bg-2">
              <i class="icon-search white x3 text-center"></i>
              <h4>Search Engine Optimization</h4>
            </div>
            <div class="service-body">
              <!--<p>
                Branding is one of the most important aspects of any business,
                large or small.
              </p> -->
            </div>
          </div>
        </div>

        <!-- Service 2  -->
        <div class="col-md-4 col-xs-9">
          <div class="service-container fadeLeft">
            <div class="mask-container parallaxes bg-2">
              <i class="icon-camera white x3 text-center"></i>
              <h4>Digital Video Production</h4>
            </div>
            <div class="service-body">
              <!-- <p>
                An effective brand strategy gives you a major edge in
                competitive markets.
              </p> -->
            </div>
          </div>
        </div>

        <!-- Service 3-->
        <div class="col-md-4 col-xs-9">
          <div class="service-container fadeLeft">
            <div class="mask-container parallaxes bg-2">
              <i class="icon-hotairballoon white x3 text-center"></i><br />
              <h4>Online Shopping</h4>
            </div>
            <div class="service-body">
              <!-- <p>
                Branding is one of the most important aspects of any business,
                large or small.
              </p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /END ROW -->
  </div>
</section>

<!-- =========================
 WORK PROCESS
 ============================== -->
<section class="agency-2 services" id="services">
  <div class="container">
    <div class="row">
      <!--  SECTION HEADER -->
      <div class="section-header-3">
        <h4>we work smartly</h4>
      </div>
      <div class="section-description-3">
        Our team of experts redefine performance marketing by using data,
        technology and media in innovative ways. We are committed to reinvent
        marketing, media and commerce for businesses by putting digital at the
        centre. Simaira Digital is helping brands understand how people are
        discovering their brands and how brand stories are being shared across
        all digital channels. We don’t limit ourselves to only strategic council
        and ideas but create intelligent experiences that redefine the
        relationship between your brand and customers.
      </div>

      <div class="sector-wrap">
        <div class="col-md-4">
          <div class="featured-item feature-outline m-bot-50">
            <div class="icon theme-color">
              <i class="ion-android-hangout"></i>
            </div>
            <div class="title text-uppercase">
              <h4>WE’RE CONFIDENT</h4>
            </div>
            <div class="desc">
              and not afraid of failures, to speak our mind or challenge the
              traditional approach.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="featured-item feature-outline m-bot-50">
            <div class="icon theme-color">
              <i class="ion-android-globe"></i>
            </div>
            <div class="title text-uppercase">
              <h4>WE’RE DRIVEN</h4>
            </div>
            <div class="desc">
              by a constant desire to create something new, something better,
              something ground-breaking.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="featured-item feature-outline m-bot-50">
            <div class="icon theme-color">
              <i class="ion-crop"></i>
            </div>
            <div class="title text-uppercase">
              <h4>WE’RE PASSIONATE</h4>
            </div>
            <div class="desc">
              believing in what we do but never forget to have fun while we do
              it. We are organised taking pride in our ability to execute
              campaigns efficiently.
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /END ROW -->
  </div>
  <!-- /END CONTAINER -->
</section>
<!-- /END SERVICES SECTION -->

<!-- =========================
 FOOTER
 ============================== -->
<footer class="footer-section footer-1">
  <div class="row footer-content">
    <div class="col-md-6 footer-column">
      <!-- footer logo -->
      <div class="footer-logo">
        <img src="assets/images/logo.png" alt="logo" />
        <p>Simaira Digital</p>
      </div>
      <div class="footer-desc">
        Once you replace negative thoughts with positive ones, Keep your face to
        the sunshine and you cannot see a shadow.
      </div>
      <!-- COPYRIGHT TEXT -->
      <div class="copyright-3">&copy; SimairaDigital. All Rights Reserved.</div>
    </div>
    <div class="col-md-3 footer-column landing">
      <ul class="footer__nav-list">
        <li class="footer__nav-item footer__nav-item--heading">Contact</li>
        <li>
          Huda Market, Sec-56 <br />
          Gurugram, Haryana.
        </li>
        <li>
          N-19, Kalkaji <br />
          South Delhi, Delhi.
        </li>
        <li class="nav-link nav-social" href="#">
          <i class="fa fa-phone" aria-hidden="true"></i> +91 9350883338
        </li>
        <li class="nav-link nav-social" href="#">
          <i class="fa fa-envelope" aria-hidden="true"></i>admin@simairadigital.com
        </li>
      </ul>
    </div>
    <div class="col-md-3 footer-column landing">
      <ul class="footer__nav-list">
        <li class="footer__nav-item footer__nav-item--heading">Social Media</li>
        <li class="footer__nav-item social-li">
          <div class="flex-container align-justify">
            <a
              target="_blank"
              href="https://www.facebook.com/simairadigital"
              rel="noopener noreferrer"
            >
              <img
                src="https://dcstatic.com/images/icons/social-media/social-media-facebook-a2a2a45d9c.svg"
                alt="facebook"
              />
            </a>
            <a
              target="_blank"
              href="https://www.facebook.com/simairadigital"
              rel="noopener noreferrer"
            >
              <img
                src="https://dcstatic.com/images/icons/social-media/social-media-twitter-4d91faca6b.svg"
                alt="twitter"
              />
            </a>
            <a
              target="_blank"
              href="https://www.facebook.com/simairadigital"
              rel="noopener noreferrer"
            >
              <img
                src="https://dcstatic.com/images/icons/social-media/social-media-instagram-b77465615e.svg"
                alt="instagram"
              />
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- SCROLL UP -->
  <div class="scroll-up">
    <a class="theme-color-bg" href="#home"><i class="fa fa-angle-up"></i></a>
  </div>
</footer>
